{{#section 'jquery'}}
    <script>
        /*
            This script fills the information stored when the modal is shown
        */
         $('#editingPat').on('show.bs.modal', function (event) {
             // modify gender selector
             if({{raw.gender}}){
                 $(this).find('.modal-body select#gender').val("T");
             }
             else{
                 $(this).find('.modal-body select#gender').val("F");
             }
            // modify cohabitation selector
             $(this).find('.modal-body select#cohab').val({{raw.cohab}});

             // modify drugs sensivity
             if({{raw.lisens}}){
                 $(this).find('.modal-body input#litsens').prop('checked', true);
             }
             if({{raw.carbsens}}){
                 $(this).find('.modal-body input#carsens').prop('checked', true);
             }
             if({{raw.valsens}}){
                 $(this).find('.modal-body input#valsens').prop('checked', true);
             }
             if({{raw.season}}){
                 $(this).find('.modal-body input#station').prop('checked', true);
             }
             if({{raw.psyc}}){
                 $(this).find('.modal-body input#psychs').prop('checked', true);
             }
            
         });
    </script>
{{/section}}

{{!-- The modal for editing patients information --}}
<div id="editingPat" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Editar paciente</h4>
            </div>
            <form name="edit" class="form-horizontal" role="form"  method="post" id="editPatFrom" action="/tracing/process/form?=editpat?={{pat_id}}">
                <div class="modal-body">
                    <fieldset class="form-group">
                        <label for="name" class="col-sm-3 control-label">Nombre completo</label>
                        <div class="col-sm-6">
                            <input type="text" name="name" class="col-sm-9 form-control" required value="{{pat.name}}">
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="birthdate" class="col-sm-3 control-label">Fecha de nacimiento</label>
                        <div class="col-sm-6">
                            <input type="date" name="bithdate" class="form-control" pattern="((0)[1-9]|[12][0-9]|3[01])[- /.]((0)[1-9]|1[012])[- /.](19|20)\d\d" title="El formato aceptado es DD/MM/AAAA" value="{{raw.bday}}">
                        </div>
                    </fieldset>
                    <fieldset class="form-group" >
                        <label for="gender" class="col-sm-3 control-label">Sexo</label>
                        <div class="col-sm-6">
                            <select name="gender" class="form-control" id="gender">
                                <option value="F">Hombre</option>
                                <option value="T">Mujer</option>
                            </select>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="email" class="col-sm-3 control-label">Correo electrónico</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" id="email" name="email" value={{pat.email}}>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="conv" class="col-sm-3 control-label">Convivencia</label>
                            <div class="col-sm-6">
                                <select name="conviviality" class="form-control" id="cohab" required>
                                    <option value="0">Solo</option>
                                    <option value="1">Pareja</option>
                                    <option value="2">Pareja e hijos</option>
                                    <option value="3">Familia de origen</option>
                                    <option value="4">Otros</option>
                                </select>
                            </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="diag" class="col-sm-3 control-label">Diagnóstico</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="diag" id="diag" pattern="^[A-Z]\d{2}(\.\d){0,1}$" title="El formato aceptado es A00 o A00.0" required value="{{pat.diagnosis}}">
                            <small class="text-muted">En formato <a href="https://eciemaps.mspsi.es/ecieMaps/browser/index_10_mc.html">CIE-10</a></small>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="onset" class="col-sm-3 control-label">Edad inicio de síntomas</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" name="ageOfOnset" id="onset" required value="{{pat.diagnosisAge}}">
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="col-sm-3 control-label">Alergias y sensibilidades</label>
                        <div class="col-sm-6">
                            <label>
                                <input type="checkbox" name="litsens" id="litsens" value="T"> Sensible al litio
                            </label>
                            <label>
                                <input type="checkbox" name="valsens" id="valsens" value="T"> Sensible al valproato
                            </label>
                            <label>
                                <input type="checkbox" name="carsens" id="carsens" value="T"> Sensible a la carbamacepina
                            </label><br>
                            <label>
                                <input type="checkbox" name="station" id="station" value="T"> Estacionalidad
                            </label>
                            <label>
                                <input type="checkbox" name="psychs" id="psychs" value="T"> Síntomas psicóticos
                            </label>
                        </div>
                    </fieldset>
                     <fieldset class="form-group">
                        <label for="mancrisis" class="col-sm-3 control-label">Media crisis maníacas (por año)</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="mancrisis" name="mancrisis" min="0" value="{{pat.maniaCrises}}">
                         </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="mixcrisis" class="col-sm-3 control-label">Media crisis mixtas (por año)</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="mixcrisis" name="mixcrisis" min="0" value="{{pat.mixedCrises}}">
                         </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="freeper" class="col-sm-3 control-label">Período libre (en meses)</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="freeper" name="freeper" min="0" value="{{pat.freePeriod}}">
                         </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="others" class="col-sm-3 control-label">Otros diagnósticos</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="others" name="others">{{pat.others}}</textarea>
                         </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <p class="text-warning"><small>Si no se confirman los cambios, estos se perderán</small></p>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="deletingPat" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eliminar paciente</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de que quiere eliminar a este paciente? <br>
                Se eliminarán TODOS los datos que se conservan de este paciente, incluyendo recetas, resultados de test y mensajes.
                </p>
                <p><strong>Estos datos no se podrán recuperar</strong></p>
            </div>
            <div class="modal-footer">
                <p class="text-danger"><small>Este cambio no podrá deshacerse</small></p>
                <form method="post">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <a href="/register/unregister/{{pat_id}}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
                </form>
            </div>
        </div>
    </div>    
</div>

<div class="col-sm-6 col-md-8">
    <h3 class="fieldTitle">Nombre completo</h3>
    {{pat.name}}
    
    <h3 class="fieldTitle">Fecha de nacimiento</h3>
    {{pat.birthDate}}
    
    <h3 class="fieldTitle">Sexo</h3>
    {{pat.gender}}
    
    <h3 class="fieldTitle">Correo electrónico</h3>
    <a href="mailto:{{pat.email}}">{{pat.email}}</a>
        
    <h3 class="fieldTitle">Convivencia</h3>
    {{pat.cohabitation}}
        
    <h3 class="fieldTitle">Diágnostico <small>en formato CIE10</small></h3>
    {{pat.diagnosis}}
        
    <h3 class="fieldTitle">Edad de diagnóstico</h3>
    {{pat.diagnosisAge}} años
        
    <h3 class="fieldTitle">Sensible al lito</h3>
    {{pat.senLit}}
    
    <h3 class="fieldTitle">Sensible al valproato</h3>
    {{pat.senVal}}   
    
    <h3 class="fieldTitle">Sensible a la carbamacepina</h3>
    {{pat.senCar}}
    
    <h3 class="fieldTitle">Estacionalidad</h3>
    {{pat.seasonality}}
    
    <h3 class="fieldTitle">Síntomas psicóticos</h3>
    {{pat.psycSymp}}
    
    <h3 class="fieldTitle">Frecuencia de crisis maníacas</h3>
    {{pat.maniaCrises}} crisis/año
    
    <h3 class="fieldTitle">Fecuencia de crisis mixtas</h3>
    {{pat.mixedCrises}} crisis/año
    
    <h3 class="fieldTitle">Período libre</h3>
    {{pat.freePeriod}} meses
    
    <h3 class="fieldTitle">Otros diágnósticos u observaciones</h3>
    {{pat.others}}
    
</div>
<div class="col-sm-3 col-md-2">
    <button style="margin-bottom: 5px; margin-top: 5px; padding-right: 18px; padding-left: 18px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editingPat"><span class="glyphicon glyphicon-pencil"></span> Editar paciente </button>
    <button style="margin-top: 5px; margin-bottom: 5px;" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletingPat"><span class="glyphicon glyphicon-trash"></span> Eliminar paciente</button>
</div>