<p>Nombre completo: {{pat_list.name}}</p>
<p>Fecha de nacimiento: {{pat_list.birthDate}}</p>
<p>Sexo: {{pat_list.gender}}</p>
<p>Correo electrónico: <a href="mailto:{{pat_list.email}}">{{pat_list.email}}</a></p>
<p>Vive con: {{pat_list.conviviality}}</p>
<p>Diagnóstico (CIE10): {{pat_list.diagnosis}}</p>
<p>Edad de diagnóstico: {{pat_list.ageOfOnset}} años</p>
<p>Sensible al litio: {{pat_list.sensitiveToLithium}}</p>
<p>Sensible al valproato: {{pat_list.sensitiveToValproate}}</p>
<p>Sensible a la carbamacepina: {{pat_list.sensitiveToCarbamazepine}}</p>
<p>Estacionalidad: {{pat_list.seasonality}}</p>
<p>Frecuencia de crisis maníacas: {{pat_list.freqManiacCrises}} crisis/año</p>
<p>Frecuencia de crisis mixtas: {{pat_list.freqMixedCrises}} crisis/año</p>
<p>Período libre: {{pat_list.freePeriod}} meses</p>
<p>Síntomas psicóticos: {{pat_list.psychoticSymptoms}}</p>
<p>Otros diagnósticos: {{pat_list.otherDiagnoses}}</p>