{{#section 'jquery'}}
    <script>
    $('#editingPres').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var act = button.data('action');
      var patid = button.data('patid'); // Extract info from the patient id
      if(act == "edit"){
          // the form action is set to be the one which edits an existing prescription
          var presid = button.data('pid'); 
          $(this).find('.modal-title').text('Editar receta');
          $(this).find('.modal-body form').attr('action', '/tracing/process/?form=editprescriptions&patid='+patid+'&id='+ presid);
          // Set values
          $(this).find('.modal-body input#name').val(button.data('name'));
          $(this).find('.modal-body select#type').val(button.data('dtype'));
          $(this).find('.modal-body input#dose').val(button.data('dose'));
          $(this).find('.modal-body input#time').val( button.data('time'));
          $(this).find('.modal-body input#begindate').val(button.data('dstart'));
          $(this).find('.modal-body input#enddate').val(button.data('dend'));
          $(this).find('.modal-body input#ptitle').val(button.data('title'));
          $(this).find('.modal-body input#ptext').val(button.data('text'));
          if(button.data('forever')){
              $(this).find('.modal-body input#enddate').prop('disabled', true);
              $(this).find('.modal-body input#forever').prop('checked', true);
          }
          else{
              $(this).find('.modal-body input#enddate').prop('disabled', false);
              $(this).find('.modal-body input#forever').prop('checked', false);
          }
      }
        else if(act == "add"){
            $(this).find('.modal-title').text('Añadir receta');
            // Clean previous data
            $(this).find('.modal-body form').trigger('reset');
            $(this).find('.modal-body form').attr('action', '/tracing/process/?form=addprescription&patid='+patid);     
        }
    });
    
    $('#removPres').on('show.bs.modal', function (event){
        var button = $(event.relatedTarget);
        var presid = button.data('pid');
        var patid = button.data('patid');
        $(this).find('.modal-footer form').attr('action', '/tracing/process/?form=deleteprescription&patid='+patid+'&id='+ presid);
    });
    
    $('#refreshForm').submit(function(){
        // we pick the only date box
        var datefield = $('#date')[0];
        if(datefield.value != "" || datefield.valueAsDate != null){
            return true;
        }
        else{
            showDismissibleAlert('Ooops!', 'La fecha introducida no es correcta o no cumple el formato adecuado', 'alert-danger');
            return false;
        }
    });
        
    $('#editPresFrom').submit(function(){
        // we pick the only date box
        var begindatefield = $('#begindate')[0];
        var enddatefield = $('#enddate')[0];
        var begindatevalid = (begindatefield.value != "" || begindatefield.valueAsDate != null);
        var enddatevalid = $('#forever')[0].checked?true:(enddatefield.value != "" || enddatefield.valueAsDate != null);
        if(begindatevalid && enddatevalid){
            return true;
        }
        else{
            showDismissibleAlert('Ooops!', 'La fecha introducida no es correcta o no cumple el formato adecuado', 'alert-danger');
            return false;
        }
    });
        
    </script>




{{/section}}

{{!-- Editing prescription modal --}}
<div id="editingPres" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form name="edit" class="form-horizontal" role="form"  method="post" id="editPresFrom">
                    <fieldset class="form-group">
                        <label for="drug" class="col-sm-3 control-label">Medicamento</label>
                        <div class="col-sm-6">
                            <input type="text" id="name" name="name" class="col-sm-9 form-control" required>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="type" class="col-sm-3 control-label">Tipo medicamento</label>
                        <div class="col-sm-6">
                            <select name="type" class="form-control" id="type" required>
                                <option value="0">Litio</option>
                                <option value="1">Antiepilépticos</option>
                                <option value="2">Antipsicóticos</option>
                                <option value="3">Ansiolíticos/hipnóticos</option>
                                <option value="4">Antidepresivos</option>
                                <option value="5">Otros</option>
                            </select>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="dose" class="col-sm-3 control-label">Dosis</label>
                        <div class="col-sm-6">
                            <input type="number" id="dose" name="dose" class="form-control" required>
                        </div>
                    </fieldset>
                    <fieldset class="form-group" >
                        <label for="time" class="col-sm-3 control-label">Hora</label>
                        <div class="col-sm-6">
                            <input type="text" id="time" name="time" class="form-control time" required>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="begindate" class="col-sm-3 control-label">Comienzo</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control date" id="begindate" name="begindate" pattern="((0)[1-9]|[12][0-9]|3[01])[- /.]((0)[1-9]|1[012])[- /.](19|20)\d\d" title="El formato aceptado es DD/MM/AAAA" required>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="enddate" class="col-sm-3 control-label">Final</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control date" id="enddate" name="enddate" pattern="((0)[1-9]|[12][0-9]|3[01])[- /.]((0)[1-9]|1[012])[- /.](19|20)\d\d" title="El formato aceptado es DD/MM/AAAA">
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="scheduled" class="col-sm-3 control-label"></label>
                        <div class="col-sm-6">
                            <input type="checkbox" name="forever" id="forever" onChange="document.getElementById('enddate').disabled = this.checked;"> Receta sin final
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="title" class="col-sm-3 control-label">Título</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="ptitle" name="title">
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="text" class="col-sm-3 control-label">Texto</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="ptext" name="text">
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <p class="text-warning"><small>Si no se confirman los cambios, estos se perderán</small></p>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- Deleting prescription modal --}}
<div id="removPres" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eliminar receta</h4>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar esta receta?
            </div>
            <div class="modal-footer">
                <p class="text-danger"><small>Este cambio no podrá deshacerse</small></p>
                <form method="post">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

    <form id="refreshForm" action="/tracing/process?form=updateprescriptions&id={{pat_id}}" method="post"> 
        <fieldset class="form-group">
            <label for="date">Filtrar por fecha</label>
                <div class="input-group">
                 <input type="date" id="date" class="form-control date" name="date" pattern="((0)[1-9]|[12][0-9]|3[01])[- /.]((0)[1-9]|1[012])[- /.](19|20)\d\d" title="El formato aceptado es DD/MM/AAAA">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-refresh"></span>   Refrescar </button>
                  </span>
                </div>
                <small class="text-muted">
                    Muestra las recetas que estaban activas en la fecha seleccionada
                </small>
        </fieldset>
    </form>

    <button type="button" class="btn btn-primary add-new-comm" data-toggle="modal" data-target="#editingPres" data-action="add" data-patid="{{pat_id}}"> <span class="glyphicon glyphicon-plus"></span> Añadir nueva </button></td>

<div class="panel panel-default chart-container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thread>
                <tr>
                    <th> Nombre </th>
                    <th> Inicio </th>
                    <th> Final </th>
                    <th> Hora </th>
                    <th> Dosis (mg)</th>
                    <th> </th>
                </tr>
            </thread>
            <tbody>
                {{#each comm_list}}
                    <tr>
                        <td> {{name}}</td>
                        <td> {{dateStart}} </td>
                        <td> {{dateEnd}} </td>
                        <td> {{time}} </td>
                        <td> {{dose}} </td>
                        <td> 
                            <button type="button" class="btn btn-info" data-toggle="modal" data-action="edit" data-target="#editingPres" data-pid="{{presid}}" data-patid="{{../pat_id}}" data-name="{{name}}" data-time="{{time}}" data-dose="{{dose}}" data-dtype="{{type}}" data-dstart="{{raw.dateStart}}" data-forever="{{raw.forever}}" data-dend="{{raw.dateEnd}}" data-title="{{title}}" data-text="{{text}}"> <span class="glyphicon glyphicon-edit"></span> </button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removPres" data-pid="{{presid}}" data-patid="{{../pat_id}}"> <span class="glyphicon glyphicon-remove"></span></button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>