{{#section 'jquery'}}
<script src="/js/inputmask.js"></script>
<script>
    $(document).ready(function() {
      $(":input").inputmask();
    });
  </script>
{{/section}}

<form action="/tracing/process?form=updaterecords&id={{pat_id}}" method="post"> 
    <fieldset class="form-group">
        <div class="col-sm-9">
            <label for="begindate">Fecha</label>
            <input type="date" class="form-control" id="date" name="date" pattern="((0)[1-9]|[12][0-9]|3[01])[- /.]((0)[1-9]|1[012])[- /.](19|20)\d\d" title="El formato aceptado es DD/MM/AAAA" data-inputmask="'mask': '99/99/9999'">
        </div>
        <div class="col-sm-3">
            <input style="margin-top: 25px;" type="submit" class="btn btn-primary" value="Obtener informes">
        </div>
    </fieldset>
</form>

<a style="margin-left: 16px;" href="/patient-info/{{pat_id}}/records/newtest" class="btn btn-primary"> <span class="glyphicon glyphicon-plus"></span> Añadir test </a>

<h2>Resultados de {{record.date}}</h2>
<div class="btn-group btn-group-justified" role="group">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" href="#eeag" data-toggle="tab" role="tab" aria-expanded="true">EEAG <span class="badge test-badge">{{record.eeag}}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-expanded="false" href="#hdrs" role="tab" data-toggle="tab">HDRS <span class="badge test-badge">{{record.hdrs_total}}</span></a></li>
        <li class="nav-item">
            <a class="nav-link" href="#ymrs" role="tab" data-toggle="tab">YMRS <span class="badge test-badge">{{record.ymrs_total}}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#panss" role="tab" data-toggle="tab">PANSS </span></a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <div id="eeag" class="tab-pane" role="tabpanel" aria-expanded="false">
        Este test consta únicamente de ese valor.    
    </div>
    <div id="hdrs" class="tab-pane" role="tabpanel" aria-expanded="true">
        <h4 class="fieldTitle">Humor depresivo</h4>
        {{record.hdrs.deprMood}}
        
        <h4 class="fieldTitle">Sentimiento de culpa</h4>
        {{record.hdrs.feelGuilty}}
        
        <h4 class="fieldTitle">Suicidio</h4>
        {{record.hdrs.suic}}
        
        <h4 class="fieldTitle">Insomnio precoz</h4>
         {{record.hdrs.insoEarly}}
        
        <h4 class="fieldTitle">Insomnio intermedio</h4>
         {{record.hdrs.insoMiddle}}
        
        <h4 class="fieldTitle">Insomnio tardío</h4>
        {{record.hdrs.insoLate}}
        
        <h4 class="fieldTitle">Trabajo y actividades</h4>
        {{record.hdrs.workActiv}}
        
        <h4 class="fieldTitle">Inhibición psicomotora</h4>
        {{record.hdrs.retard}}
        
        <h4 class="fieldTitle">Agitación psicomotora</h4>
        {{record.hdrs.agitat}}
        
        <h4 class="fieldTitle">Ansiedad psíquica</h4>
        {{record.hdrs.anxiPsych}}
        
        <h4 class="fieldTitle">Ansiedad somática</h4>
        {{record.hdrs.anxiSomat}}
        
        <h4 class="fieldTitle">Síntomas somáticos gastrointestinales</h4>
        {{record.hdrs.somsymptGastr}}
        
        <h4 class="fieldTitle">Síntomas somáticos generales</h4>
        {{record.hdrs.somsymptGener}}
        
        <h4 class="fieldTitle">Síntomas genitales</h4>
        {{record.hdrs.geniSympt}}
        
        <h4 class="fieldTitle">Hipocondría</h4> 
        {{record.hdrs.hypochon}}
        
        <h4 class="fieldTitle">Pérdida de peso</h4> 
        {{record.hdrs.lossWeight}}
        
        <h4 class="fieldTitle">Conciencia de la enfermedad</h4> 
        {{record.hdrs.insight}}
        
    </div>
    <div id="ymrs" class="tab-pane" role="tabpanel" aria-expanded="true">
        <h4 class="fieldTitle">Euforia</h4>
        {{record.ymrs.elevMood}}
        
        <h4 class="fieldTitle">Hiperactividad</h4>
        {{record.ymrs.incr_actAner}}
        
        <h4 class="fieldTitle">Impulso sexual</h4>
        {{record.ymrs.sexuInters}}
        
        <h4 class="fieldTitle">Sueño</h4>
        {{record.ymrs.sleep}}
        
        <h4 class="fieldTitle">Irritabilidad</h4>
        {{record.ymrs.irritab}}
        
        <h4 class="fieldTitle">Expresión verbal</h4>
        {{record.ymrs.speech}}
        
        <h4 class="fieldTitle">Trastornos del curso del pensamiento y el lenguaje</h4>
        {{record.ymrs.lanThoughDis}}
        
        <h4 class="fieldTitle">Trastornos del contenido del pensamiento</h4>
        {{record.ymrs.content}}
        
        <h4 class="fieldTitle">Agresividad</h4>
        {{record.ymrs.disAggrBehav}}
        
        <h4 class="fieldTitle">Apariencia</h4>
        {{record.ymrs.appearan}}
        
        <h4 class="fieldTitle">Conciencia de enfermedad</h4>
        {{record.ymrs.insight}}
    </div>
    <div id="panss" class="tab-pane panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div id="panss_gen" class="panel-heading" role="tab">
                <h3 class="panel-title"> 
                    <a data-toggle="collapse" data-target="#panss_gen_info"  href="#panss_gen_info">PANSS General <span class="badge panss-test-badge">{{record.panss_gen_total}}</span></a>
                </h3>
            </div>
            <div id="panss_gen_info" class="panel-collapse collapse" style="">
                <div class="panel-body">
                    <h4 class="fieldTitle">Preocupaciones somáticas</h4>
                    {{record.panss_gen.somaConcer}}
                    <h4 class="fieldTitle">Ansiedad</h4>
                    {{record.panss_gen.anxiet}}
                    <h4 class="fieldTitle">Sentimientos de culpa</h4>
                     {{record.panss_gen.guiltFeels}}
                    <h4 class="fieldTitle">Tensión motora</h4>
                    {{record.panss_gen.tension}}
                    <h4 class="fieldTitle">Manierismos y posturas</h4>
                    {{record.panss_gen.mannPost}}
                    <h4 class="fieldTitle">Depresión</h4>
                    {{record.panss_gen.depress}}
                    <h4 class="fieldTitle">Retardo motor</h4>
                    {{record.panss_gen.motoRetar}}
                    <h4 class="fieldTitle">Falta de colaboración</h4>
                    {{record.panss_gen.uncoop}}
                    <h4 class="fieldTitle">Inusuales contenidos del pensamiento</h4>
                    {{record.panss_gen.unuThough}}
                    <h4 class="fieldTitle">Desorientación</h4>
                    {{record.panss_gen.disorient}}
                    <h4 class="fieldTitle">Atención deficiente</h4>
                    {{record.panss_gen.poorAtten}}
                    <h4 class="fieldTitle">Ausencia de juicio e introspección</h4>
                    {{record.panss_gen.ljudInsight}}
                    <h4 class="fieldTitle">Trastornos de la volición</h4>
                    {{record.panss_gen.distVolit}}
                    <h4 class="fieldTitle">Control deficiente de impulsos</h4>
                     {{record.panss_gen.pinpContr}}
                    <h4 class="fieldTitle">Preocupación</h4>
                    {{record.panss_gen.preoc}}
                    <h4 class="fieldTitle">Evitación social activa</h4>
                    {{record.panss_gen.asocAvoid}}
                </div>
            </div>
            <div id="panss_pos" class="panel-heading" role="tab">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-target="#panss_pos_info" href="#panss_pos_info">PANSS Positiva <span class="badge panss-test-badge">{{record.panss_pos_total}}</span></a>
                </h3>
            </div>
            <div id="panss_pos_info" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4 class="fieldTitle">Delirios</h4>
                    {{record.panss_pos.delsus}}
                    <h4 class="fieldTitle">Desorganización conceptual</h4>
                    {{record.panss_pos.concepDisor}}
                    <h4 class="fieldTitle">Conducta alucinatoria</h4>
                    {{record.panss_pos.halluBehav}}
                    <h4 class="fieldTitle">Excitación</h4>
                    {{record.panss_pos.excitem}}
                    <h4 class="fieldTitle">Grandiosidad</h4> 
                    {{record.panss_pos.grandios}}
                    <h4 class="fieldTitle">Suspicacia/perjuicio</h4> 
                    {{record.panss_pos.suspc}}
                    <h4 class="fieldTitle">Hostilidad</h4>
                    {{record.panss_pos.hostil}}
                </div>
            </div>
            <div id="panss_neg" class="panel-heading" role="tab">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-target="#panss_neg_info" href="#panss_neg_info">PANSS Negativa <span class="badge panss-test-badge"> {{record.panss_neg_total}}</span></a>
                </h3>
            </div>
            <div id="panss_neg_info" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4 class="fieldTitle">Embotamiento afectivo</h4>
                    {{record.panss_neg.blunAffec}}
                    <h4 class="fieldTitle">Retracción emocional</h4>
                    {{record.panss_neg.emotWithd}}
                    <h4 class="fieldTitle">Pobre relación</h4>
                    {{record.panss_neg.pootRapor}}
                    <h4 class="fieldTitle">Retracción social, apatía pasiva </h4>
                    {{record.panss_neg.passSocWithd}}
                    <h4 class="fieldTitle">Dificultad de pensamiento abstracto</h4>
                    {{record.panss_neg.diffAbstThin}}
                    <h4 class="fieldTitle">Falta de espontaneidad y fluidez de la conversación</h4> {{record.panss_neg.lspontConvflow}}
                    <h4 class="fieldTitle">Pensamiento estereotipado</h4>
                    {{record.panss_neg.steoThink}}
                </div>
            </div>
        </div>
    </div> 
</div>

